/*
Name: Calculator App
URL: https://richardmiddleton.me/calculator
Author: Richard Middleton
Author URL: https://richardmiddleton.me
Description: Create a Javascript Calculator for FCC
Version: 1.0
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

html {
  font-size: 14px; }

body {
  font-family: 'Open Sans';
  line-height: 1.2; }

h1, h2, h3, h4 {
  font-family: 'Open Sans';
  font-weight: 200;
  color: #262626; }

h1 {
  font-size: 1.5em; }

h1 span {
  font-weight: 700; }

h2 {
  font-size: 6em;
  color: #fbfbfb; }

h3 {
  font-size: 2.3em; }

h4 {
  font-size: 1.414em; }

p {
  color: #262626; }

a {
  text-decoration: none;
  color: #323232;
  font-size: 1.1rem;
  font-weight: 600; }

small {
  font-size: 0.707em; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

.fa-heart {
  font-size: 12px;
  color: #fc2d23; }

.large {
  font-size: 40px; }

header a {
  font-size: 1.8rem;
  color: #fbfbfb;
  font-weight: 300; }
  header a i, header a span {
    color: #323232; }
  header a:hover {
    text-decoration: none; }

.built {
  color: white;
  font-size: 0.9em;
  padding: 4px;
  font-weight: 300; }
  .built strong {
    font-weight: 400; }

.built a, .built p {
  font-size: 0.8rem;
  transition: all 0.6s ease; }

.built a:hover {
  text-decoration: underline; }

.btn {
  border: none;
  background: none;
  margin: 6px;
  color: #fbfbfb;
  font-size: 1rem;
  border-radius: 6px;
  padding: 0.6em 1em;
  transition: all 0.2s ease; }
  .btn:active {
    transform: scale(0.98); }

.btn-outline {
  color: #f27b21;
  border: 2px solid #f27b21;
  padding: 0.52em 1.1em; }
  .btn-outline:hover {
    background-color: #f27b21;
    color: #fbfbfb; }

.btn-round {
  border-radius: 50px; }

.btn-sm {
  font-size: 0.707em; }

.bg-brand {
  background-color: #f27b21; }
  .bg-brand:hover {
    background-color: #ec6d0e; }

.bg-alt {
  background-color: #862bab; }
  .bg-alt:hover {
    background-color: #762697; }

.shadow {
  box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.3), 0 6px 16px 0 rgba(99, 99, 99, 0.3); }

.thin {
  font-weight: 300; }

.center {
  text-align: center; }

.muted {
  color: #515151; }

.hidden {
  display: none; }

.visible {
  display: block; }

html {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 80px;
  min-height: 100%;
  background-color: #f0f0f0; }

header {
  width: 100%;
  background-color: #f27b21;
  height: 56px;
  top: 0;
  margin: 0 auto;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 100; }

.logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

section {
  clear: both;
  margin: 150px auto 0;
  width: 400px; }

.status-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #181818; }

#status-bar-clock, #status-bar-logo, #status-bar-right {
  padding-top: 6px;
  width: 90px;
  text-align: center; }
  #status-bar-clock p, #status-bar-logo p, #status-bar-right p {
    color: #fbfbfb; }

#status-bar-logo p {
  font-size: 10px; }

.display {
  width: 100%;
  background-color: #181818;
  height: 130px;
  text-align: right;
  padding: 26px 20px; }

.row {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%; }

.key {
  height: 100px;
  width: 100px;
  border: 0.1px solid #5a5a5a;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  transition: all 0.3s ease; }
  .key:hover {
    background-color: gainsboro; }
  .key:active {
    background-color: #bbbbbb; }

.k-0 {
  min-width: 200px;
  text-align: left;
  padding-left: 40px; }

.orange {
  background-color: #f27b21; }
  .orange h3 {
    color: #fbfbfb; }
  .orange:hover {
    background-color: #e76b0e; }
  .orange:active {
    background-color: #bc570b; }

.grey {
  background-color: #c1c2c3; }
  .grey:hover {
    background-color: #acaeaf; }
  .grey:active {
    background-color: #929496; }

footer {
  background: #f27b21;
  width: 100%;
  height: 32px;
  display: table;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center; }

.built {
  display: table-cell;
  vertical-align: middle; }

/*=============================================
=                 MEDIA QUERIES               =
=============================================*/
/* -- BREAK 1 -- */
@media all and (max-width: 440px) {
  html {
    font-size: 14px; }
  section {
    margin: 0px auto;
    max-width: 400px;
    max-height: 662px; }
  header {
    display: none; } }
