/*=============================================
=                 MEDIA QUERIES               =
=============================================*/



/* -- BREAK 1 -- */

@media all and (max-width: 600px) {
  
  section {
    margin:  0px auto;
    }

 header {display: none}




footer {
  display: none;
}

.built {
	display:    table-cell;
	vertical-align: middle;
}


 }


/* -- BREAK 2 -- */

@media all and (max-width: 374px) {
  
  section {
    width:   320px;
}

.key {
    height: 80px;
    width:  80px;
}

.k-0 {
    min-width:   160px;
    padding-left: 28px;
}
 
 #display {
    height:      110px;
    padding: 16px 16px;
 }

 header {display: none}
 }