/*=============================================
=                 MEDIA QUERIES               =
=============================================*/



/* -- BREAK 1 -- */

@media all and (max-width: 440px) {
  
  html {font-size: 14px}

  section {
    margin: 0px auto;
    max-width: 400px;
    max-height: 662px;
    }

  #status-bar-clock {display: none}

  #status-bar-logo {display: block}

  nav {display: none}
 
 }