/*
Name: Calculator App
URL: https://richardmiddleton.me/calculator
Author: Richard Middleton
Author URL: https://richardmiddleton.me
Description: Create a Javascript Calculator for FCC
Version: 1.0
*/


@import "normalise";
@import "colors";
@import "typography";
@import "buttons";
@import "utilities";


// ------- Page Contents -------- //


body {
	position:		     relative;
	margin:				   	    0;
	padding-bottom: 	     70px;
    background-color: $background;
}

header {
	width:     100%;
	height:    56px;
    top:          0;
    position: fixed;
    z-index:    100;
	background-color: $brand;
	display:     -webkit-box;
	display:     -ms-flexbox;
	display:            flex;
	-webkit-box-pack: center;
	-ms-flex-pack:    center;
	justify-content:  center;

    span {color: $white}
}

.logo {
	-ms-flex-item-align: center;
	-ms-grid-row-align:  center;
	align-self:          center;
}

section {
    margin: 150px auto 0;
    width:         400px;
}

.status-bar {
    width:   100%;
    display: flex;
    justify-content: space-between;
    background-color:   $dark-grey;
}

#status-bar-clock, #status-bar-logo, #status-bar-right {
    padding:       6px;
    width:       120px;
    text-align: center;

    p {
        color: $white;
        font-weight: 200;
    }
    span {font-weight: 700}
}

#status-bar-logo p, #status-bar-right p {
    padding-top: 1px;
    font-size:  12px;
    text-align: left;
}

#status-bar-right p {text-align: right}

#display {
    height:      120px;
    width:        100%;
    text-align:  right;
    padding: 20px 20px;
    background-color: $dark-grey;
}

.row {
    width:             100%;
    display:           flex;
    justify-content: center;
    align-content:   center;
}

.key {
    height: 100px;
    width:  100px;
    text-align:     center;
	display:    table-cell;
	vertical-align: middle;
	transition:   all 0.3s ease;
    border: 0.1px solid $border;

    &:hover {background-color: darken($white, 12)}
    &:active {background-color: darken($white, 25)}
}

.k-0 {
    min-width:   200px;
    text-align:   left;
    padding-left: 40px;
}

.orange {
    background-color: $brand;
    h3 {color: $white}

    &:hover {background-color: darken($brand, 6)}
    &:active {background-color: darken($brand, 15)}
}

.grey {
    background-color: $light-grey;

    &:hover {background-color: darken($light-grey, 8)}
    &:active {background-color: darken($light-grey, 18)}
}


footer {
	background: $brand;
	width: 		  100%;
    height:       32px;
	display: 	 table;
    position:    fixed;
    right:           0;
    bottom:          0;
    left:            0;
    text-align: center;
}

.built {
	display:    table-cell;
	vertical-align: middle;
}


@import "media-queries";